*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}

body{
line-height:1.6;
}

/* NAVBAR */

header{
background:#0b3d2e;
color:white;
}

.container{
width:90%;
max-width:1100px;
margin:auto;
}

.nav{
display:flex;
justify-content:space-between;
align-items:center;
padding:15px 0;
}

nav a{
color:white;
margin-left:20px;
text-decoration:none;
}

.logo{
color:#fff;
}

.menu-toggle{
display:none;
font-size:24px;
cursor:pointer;
}


/* HERO */

.hero{
height:80vh;
background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.6)),
url('../images/church.jpg');
background-size:cover;
background-position:center;

display:flex;
align-items:center;
justify-content:center;
text-align:center;
color:white;
}

.hero h1{
font-size:48px;
}

.btn{
display:inline-block;
margin-top:20px;
padding:10px 20px;
background:#ffcc00;
color:black;
text-decoration:none;
border-radius:4px;
}

/* SECTIONS */

section{
padding:60px 20px;
text-align:center;
}

.ministry-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:20px;
margin-top:30px;
}

.card{
background:#f4f4f4;
padding:20px;
border-radius:6px;
}

/* FOOTER */

footer{
background:#111;
color:white;
text-align:center;
padding:20px;
}

/* MOBILE */

@media(max-width:768px){

nav{
display:none;
flex-direction:column;
background:#0b3d2e;
position:absolute;
top:60px;
right:0;
width:200px;
}

nav a{
padding:10px;
display:block;
}

.menu-toggle{
display:block;
}

nav.active{
display:flex;
}

.hero h1{
font-size:32px;
}

}
